
html {

  font-family: sans-serif;

}

p{
  background-color: red;
  color: rgb(121, 7, 7);
  padding: 14px 40px;
  width: 140px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Your CSS below here */